<pre>
Utilisez la console de dévéloppement pour interagir avec le service
(pressez contrôle-majuscule-i).
</pre>

<hr/>
<app-plateau
  [board]="board"
  [playable]="canPlay"
  (play)="play($event[0], $event[1])"
></app-plateau>
<hr/>

<pre>{{score}}</pre>
<table>
  <tbody>
    <tr *ngFor="let L of board; index as i">
      <td *ngFor="let c of L; index as j"
          (click)="play(i, j)"
          [class.canPlayHere] = "canPlay[i][j]"
          >
        {{symboleFor(c)}}
      </td>
    </tr>
  </tbody>
</table>
